ul,
ol {
    padding-left: 20px;
}
.u-btn {
    display: table;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
}
.u-btn:focus,
.u-btn:active:focus,
.u-btn.active:focus {
    outline-offset: -2px;
}
.u-logo {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
}
.u-image.u-logo {
    display: table;
    white-space: nowrap;
}
.u-image.u-logo img {
    display: block;
}
html {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
}
body {
    height: auto;
    min-height: 100%;
}
.u-opacity-95,
.u-opacity-95:before {
    opacity: 0.95;
}
.u-opacity-70,
.u-opacity-70:before {
    opacity: 0.7;
}
img.u-image,
.u-video-poster {
    overflow: hidden;
}
.u-image-circle.u-image {
    border-radius: 50% !important;
}
.u-image-circle.u-expanded-width {
    padding-bottom: 100%;
}
.u-image-round {
    border-radius: 10px;
}
.u-gutter-0 .u-layout {
    margin: 0;
}
.u-gutter-0 .u-layout .u-layout-cell {
    border: 0 solid transparent;
}
.u-gutter-0.u-layout-spacing-top {
    padding-top: 0;
}
.u-gutter-0.u-layout-spacing-top-bottom {
    padding: 0;
}
.u-gutter-0.u-layout-spacing-left-right {
    padding: 0;
}
.u-gutter-0.u-layout-spacing-all {
    padding: 0;
}
.u-nav,
.u-nav-item {
    position: relative;
}
.u-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.u-nav-item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 100%;
}
.u-nav-popup .u-nav-item {
    height: auto;
}
.u-nav-container .u-nav-item .u-nav-item {
    display: block;
}
.u-nav-popup.open {
    visibility: visible;
    pointer-events: auto;
}
.u-nav-link {
    display: block;
    white-space: nowrap;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
}
.u-nav-link,
.u-nav-link:hover,
.u-nav-link:focus {
    text-decoration: none;
}
.u-nav-item a.u-nav-link,
.menu-collapse a.u-nav-link {
    color: inherit;
}
.u-nav-container > .u-nav > .u-nav-item > .u-nav-link {
    padding: 10px 20px;
}
.menu-collapse {
    display: none;
    border: none;
    z-index: 1;
}
.menu-collapse .u-nav-link {
    text-decoration: none !important;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: calc(1em + 8px);
}
.menu-collapse .u-nav-link svg {
    width: 1em;
    height: 1em;
    vertical-align: top;
    fill: currentColor;
}
.menu-collapse .u-nav-link svg + svg {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
.menu-collapse .u-nav-link.u-file-icon img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
}
.menu-collapse .u-nav-link.u-file-icon::after {
    content: '';
    height: 1em;
    display: block;
}
.u-nav-container-collapse {
    display: none;
    z-index: 1001;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    position: fixed !important;
    overflow: hidden;
    width: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: inherit;
}
p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}
.u-align-center {
    text-align: center;
}
.u-text {
    word-wrap: break-word;
    position: relative;
}
.u-font-roboto.u-custom-font {
    font-family: Roboto, sans-serif !important;
}
.u-font-montserrat.u-custom-font {
    font-family: Montserrat, sans-serif !important;
}
.u-rectangle {
    border-radius: 0;
}
.u-circle {
    border-radius: 50%;
}
.u-btn.u-circle {
    border-radius: 100px;
}
.u-table-cell .u-btn,
.u-text .u-btn {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    white-space: normal;
    text-align: inherit;
}
.u-table-cell .u-btn.u-button-link,
.u-text .u-btn.u-button-link {
    display: inline;
}
.u-border-1,
.u-separator-1:after,
.u-text.u-border-1 {
    border-width: 1px;
}
.u-btn
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.u-header {
    background-image: none;
}
.u-header .u-sheet-1 {
    min-height: 80px;
}
.u-header .u-image-1 {
    margin: 22px auto 0 0;
}
.u-header .u-logo-image-1 {
    max-width: 64px;
    max-height: 64px;
}
.u-header .u-menu-1 {
    margin: -32px 0 22px auto;
}
.u-header .u-nav-1 {
    font-size: 1rem;
    letter-spacing: 0;
}
.u-header .u-nav-2 {
    font-size: 1.25rem;
}
.u-footer {
    background-image: none;
}