.u-section-1 .u-sheet-1 {
    min-height: 1431px;
}

.u-section-1 .u-layout-wrap-1 {
    width: 1051px;
    margin: 53px 0 40px auto;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 1338px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px 60px;
}

.u-section-1 .u-text-1 {
    margin: 20px 122px 0 50px;
}

.u-section-1 .u-text-2 {
    margin: 0 229px 0 50px;
}

.u-section-1 .u-text-3 {
    font-weight: 700;
    margin: 43px 365px 0 5px;
}

.u-section-1 .u-line-1 {
    transform-origin: right center 0px;
    margin-top: 9px;
    margin-bottom: 0;
    margin-left: 0;
}

.u-section-1 .u-text-4 {
    margin: 20px 1px 0 5px;
}

.u-section-1 .u-text-5 {
    margin: 0 20px;
}

.u-section-1 .u-text-6 {
    font-weight: 700;
    margin: 26px 291px 0 5px;
}

.u-section-1 .u-line-2 {
    transform-origin: right center 0px;
    width: 563px;
    margin: 9px auto 0 0;
}

.u-section-1 .u-text-7 {
    margin: 10px 6px 0 5px;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 1338px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 45px 30px 44px;
}

.u-section-1 .u-image-1 {
    height: 339px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.u-section-1 .u-text-8 {
    font-weight: 700;
    margin: 20px 74px 0 5px;
}

.u-section-1 .u-line-3 {
    margin-top: 9px;
    margin-bottom: 0;
    height: 3px;
    transform-origin: right center 0px;
    margin-left: 0;
}

.u-section-1 .u-text-9 {
    margin: 10px 20px 0;
}

.u-section-1 .u-btn-1 {
    padding: 0;
}

.u-section-1 .u-btn-2 {
    padding: 0;
}

.u-section-1 .u-btn-3 {
    padding: 0;
}

.u-section-1 .u-btn-4 {
    padding: 0;
}

.u-section-1 .u-text-10 {
    font-weight: 700;
    margin: 20px 144px 0 5px;
}

.u-section-1 .u-line-4 {
    margin-top: 9px;
    height: 3px;
    transform-origin: right center 0px;
    margin-bottom: 0;
}

.u-section-1 .u-text-11 {
    margin: 20px 5px 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1287px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-1 .u-layout-cell-1 {
        background-position: 50% 50%;
        min-height: 1197px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 86px;
        margin-left: 44px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 44px;
        margin-right: 193px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 298px;
        margin-left: 4px;
    }

    .u-section-1 .u-line-1 {
        margin-left: initial;
    }

    .u-section-1 .u-text-4 {
        margin-right: 0;
        margin-left: 4px;
    }

    .u-section-1 .u-text-5 {
        margin-right: 9px;
        margin-left: 0;
    }

    .u-section-1 .u-text-6 {
        margin-top: 52px;
        margin-right: 224px;
        margin-left: 4px;
    }

    .u-section-1 .u-line-2 {
        width: 491px;
    }

    .u-section-1 .u-text-7 {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 0;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 1197px;
    }

    .u-section-1 .u-image-1 {
        height: 292px;
        margin-left: initial;
    }

    .u-section-1 .u-text-8 {
        margin-left: 0;
        margin-right: 40px;
    }

    .u-section-1 .u-line-3 {
        margin-left: initial;
    }

    .u-section-1 .u-text-9 {
        margin-top: 20px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .u-section-1 .u-text-10 {
        margin-right: 36px;
        margin-left: 4px;
    }

    .u-section-1 .u-text-11 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 283px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 720px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
        margin-left: 37px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 76px;
        margin-left: 37px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 167px;
        margin-left: 3px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 3px;
    }

    .u-section-1 .u-text-5 {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 3px;
    }

    .u-section-1 .u-text-6 {
        margin-top: 103px;
        margin-right: 93px;
        margin-left: 3px;
    }

    .u-section-1 .u-line-2 {
        width: 360px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-image-1 {
        height: 263px;
        margin-left: initial;
    }

    .u-section-1 .u-text-8 {
        margin-right: 39px;
    }

    .u-section-1 .u-text-9 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-10 {
        margin-right: 33px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 383px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 540px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 47px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 47px;
    }

    .u-section-1 .u-text-3 {
        margin-left: 60px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 4px;
    }

    .u-section-1 .u-text-5 {
        margin-left: 4px;
    }

    .u-section-1 .u-text-6 {
        margin-top: 52px;
        margin-left: 60px;
    }

    .u-section-1 .u-text-7 {
        margin-top: -16px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-image-1 {
        height: 712px;
        margin-left: initial;
    }

    .u-section-1 .u-text-10 {
        margin-right: 89px;
        margin-left: 11px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-layout-wrap-1 {
        width: 340px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 1135px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 29px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 7px;
        margin-left: auto;
    }

    .u-section-1 .u-text-3 {
        margin-right: 0;
        margin-left: 2px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 2px;
    }

    .u-section-1 .u-text-5 {
        margin-left: 2px;
    }

    .u-section-1 .u-text-6 {
        width: auto;
        margin-top: 15px;
        margin-right: 0;
        margin-left: 37px;
    }

    .u-section-1 .u-line-2 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-text-7 {
        width: auto;
        margin-top: 7px;
        margin-right: 0;
    }

    .u-section-1 .u-image-1 {
        height: 388px;
        margin-left: initial;
    }

    .u-section-1 .u-text-8 {
        margin-right: 0;
    }

    .u-section-1 .u-text-10 {
        margin-right: 55px;
        margin-left: 7px;
    }
}