.u-section-1 {
    background-image: url("https://i.imgur.com/EyZ9NFA.jpeg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 805px;
}

.u-section-1 .u-text-1 {
    margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 606px;
}