<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>/Team.html</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>TeamMember</servlet-name>
        <jsp-file>/TeamMember.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeamMember</servlet-name>
        <url-pattern>/person</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PageNotFound</servlet-name>
        <jsp-file>/PageNotFound.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageNotFound</servlet-name>
        <url-pattern>/pagenotfound</url-pattern>
    </servlet-mapping>
</web-app>